.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
media/**/*.map
src/**
node_modules/**
.gitignore
tsconfig.json
esbuild.js
esbuild.cjs
vitest.config.ts
vsc-extension-quickstart.md
.claude/**
.github/**
docs/**
resources/**
.eslintignore
.eslintrc*
.prettierrc*
eslint.config.mjs
scripts/**

# Tests & Coverage
test/**
coverage/**

# Exclude all markdown files except LICENSE
*.md
!LICENSE.md
!readme.md
